@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #050505;
  --fosp-gray: #33404a;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --text-color-foso-gray: var(--fosp-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
